/*/////////////////////////////////////////////////////////// RESET */
/*Thank you http://meyerweb.com/eric/tools/css/reset/ */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div {
	margin: 0;
	padding: 0;
	vertical-align: top;
}






/*/////////////////////////////////////////////////////////// PROJECTS */

div.backLink {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
}

div.backLink > a {
	text-decoration: none;
	color: #808080;
/*	font-weight: bold;*/
}

div.backLink > a:hover {
	text-decoration: underline;
	color: #303030;
}









/*/////////////////////////////////////////////////////////// PAGE */



body {
	background-color: #F8F8F8;
	margin: 0px auto 0px auto;
	padding: 60px 0 0 0;
	text-align: center;
	font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Tahoma', 'verdana', sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #303030;
}

div.wrapper {
	display: block;
	margin: 0px auto 0px auto;
	text-align: left;
	width: 100%;
	max-width: 1400px;
/*	outline: 1px solid red;*/
}

@media screen and (max-width: 480px) {
	div.wrapper {
	}
}

div.section {
	display: block;
}


#intro {
	text-align: center;
}


h1 {
	display: block;
	text-align: center;
	font-size: 50px;
	color: #505050;
	font-weight: 300;
	line-height: 28px;
	margin: 0 auto;
	margin-top: 125px;
	letter-spacing: 2px;
	width: 90%;
}

h2 {
	display: block;
	text-align: center;
	font-size: 24px;
	color: #000;
	font-weight: 300;
	line-height: 28px;
	margin: 0 auto;
	margin-top: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 90%;
}

h3 {
	display: block;
	text-align: center;
	font-size: 20px;
	color: #000;
	font-weight: 300;
	line-height: 15px;
	margin: 0 auto;
	margin-top: 22px;
	letter-spacing: 2px;
	width: 90%;
}



a.videoLink {
	display: inline-block;
	margin: 70px auto 70px auto;
	max-width: 1400px;
	width: 100%;
	height: 300px;
	background: url('images/videoBG.jpg') no-repeat center center;
	background-size: cover; 
	/*border-radius: 4px;*/
}



a.videoLink div {
	display: inline-block;
	background: rgba(0,0,0,0.4) url('http://matthaeuskrenn.com/assets/video_play.png') no-repeat center center;
	background-size: 140px; 
	visibility: visible;
	margin: 0 auto;
	width: 100%;
	height: 300px;
	/*border-radius: inherit;*/
	-webkit-transition: background-color 150ms ease-out;
}

a.videoLink div:hover {
	background-color: rgba(0,0,0,0.7);
}




p.mainDescription {
	display: block;
	margin: 40px auto 0 auto;
	max-width: 600px;
	width: 90%;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	font-weight: 300;
	text-align: left;
}

p.mainDescription a{
	font-weight: 600;
	text-decoration: none;
	color: #000;
}

p.mainDescription a:hover{
	
	text-decoration: underline;
}


img.statusQuo {
	display: block;
	width: 50%;
	margin: 10px auto;
}




#content {
	display: block;
}

#content ul {
	display: block;

}

#content li {
	display: block;
	margin: 100px 0 0 0;
}

#content li a {
	color: #000;
	text-decoration: none;
}


.screenshot {
	display: block;
	margin: 0;
}


.screenshot img {
	display: block;
	margin: 0;
	width: 100%;
	max-width: 1400px;
}


.description {
	width: 90%;
	margin: 20px auto 0 auto;
}


.description p {
	text-align: center;
	font-size: 21px;
	font-weight: 300;
	color: #000;
	line-height: 22px;
	text-decoration: none !important;
}






#footer {
/*	font-family: 'times', 'times new roman', serif;*/
	text-align: center;
	color: #D0D0D0;
	padding: 160px 0;
}


#footer > img {
/*	display: block;*/
	margin: 20px 0;
}


#footer > p {
	display: block;
	margin: 20px 0;
}


















